{% extends "client/osbase.html" %} {% load static time_filters %}
{% block body %}
<div class="bg-surface flex flex-col w-full h-full font-vintage">
    <div class="text-xl">
        New journal for {{ project.project_name }}
    </div>
    <form method="post">
        
        <div>
            <label for="content">Journal content (Markdown)</label>
            <textarea name="content" id="content" class="w-full"></textarea>
        </div>
        <button>Log journal</button>
    </form>
</div>
{% endblock body %}
