{% extends "client/osbase.html" %} {% load static time_filters %}
{% block body %}
<div class="bg-surface flex flex-col w-full h-full font-vintage">
    {% if not success %}
    <div class="text-4xl">
        New journal for {{ project.project_name }}
    </div>
    <div>
        This journal will log {{ log_minutes|minutes_to_hours_minutes }}.
    </div>
    {% if info %}
    <div class="bg-twisted-400 rounded-md p-1 my-1">
        {{ info|safe }}
    </div>
    {% endif %}
    <form method="post" class="h-full flex flex-col">
        {% csrf_token %}
        <div>
            <button type="button" onclick="switchjournal()">Journal</button>
            <button type="button" onclick="switchpreview()">Preview</button>
        </div>
        <div class="flex-1">
            <div class="!text-lg h-full flex flex-col" id="journaltab">
                <h3>Journal</h3>
                <div class="flex-1">
                    <textarea name="content" id="content" class="w-full h-full text-2xl!" oninput="renderpreview()">{{ content }}</textarea>
                </div>
            </div>
            <div id="previewtab" style="display: none;" class="h-full flex flex-col">
                <h3>Preview</h3>
                <div class="overflow-y-auto flex-1 bg-twisted-600 p-1">
                    <div id="preview" class="zoom-150 [&_h1,h2,h3,h4,h5,h6]:zoom-50"></div>
                </div>
            </div>
        </div>
        <div>
            <button class="mt-4">Log journal</button>
        </div>
    </form>
    {% else %}
    <div class="text-center">
        <h2>Your journal has been logged!</h2>
        <p>You can now close this page.</p>
        <button onclick="location.reload()">Log another journal!</button>
    </div>
    {% endif %}
</div>

<script>
    textbox = document.querySelector('#content')
    console.log(textbox)
    csrfToken = "{{ csrf_token }}"

    function renderpreview() {
        console.log('rendering...');
        content = textbox.value;
        parsed = DOMPurify.sanitize(marked.parse(content));
        document.getElementById('preview').innerHTML = parsed;
    }
    function switchjournal() {
        document.getElementById('previewtab').style.display = 'none';
        document.getElementById('journaltab').style.display = null;
    }
    function switchpreview() {
        document.getElementById('previewtab').style.display = null;
        document.getElementById('journaltab').style.display = 'none';
    }

    function generateRandomString(length) {
        const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let result = '';
        for (let i = 0; i < length; i++) {
            result += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        return result;
    }


    textbox.addEventListener('paste', (event) => {
        console.log('paste detect!')
        const items = (event.clipboardData || window.clipboardData).items;

        for (let i = 0; i < items.length; i++) {
            if (!items[i].type.startsWith('image/')) {
                continue;
            }
            console.log("found image!")
            const blob = items[i].getAsFile();

            const id = `![Uploading... ${generateRandomString(5)}]()`

            textbox.value = textbox.value + id + '\n'

            const formData = new FormData();
            formData.append('csrfmiddlewaretoken', csrfToken);
            formData.append('file', blob);
            formData.append('ref', 'journals');

            // 4. Send the POST request to your backend URL
            response = fetch("{% url 'misc.upload_file' %}", {
                method: 'POST',
                body: formData, // Fetch automatically sets Content-Type to multipart/form-data
            });
            response.then((response) => {
                console.log(response);
                response.json().then((result) => {
                    console.log(result);
                    if (result['status'] == 'ok') {
                        console.log('Upload successful:', result);
                        textbox.value = textbox.value.replace(id, `![${result['name']}](${result['link']})`);
                    } else {
                        console.log('Upload failed:', result);
                        textbox.value = textbox.value.replace(id, `![Error: ${result['reason']}]()`);
                    }
                    renderpreview()
                })
            });
                
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/dompurify@3.4.12/dist/purify.min.js
"></script>
{% endblock body %}
