{% extends "client/osbase.html" %}
{% load static time_filters %}
{% block body %}
<div class="bg-surface flex flex-col w-full h-full">
    <div>
        <button onclick="window.parent.postMessage({'type': 'internal', 'action': 'open', 'title': 'New project...', 'src': '{% url 'fr.projects.create' %}'}, '*');"><span class="underline">N</span>ew project...</button>
    </div>
    <div
        class="flex-1 sunken-panel font-vintage overflow-y-scroll p-4"
    >
    <div class="flex gap-4 w-full flex-wrap">
        {% for project in projects %}
        <div class="w-16 cursor-pointer" onclick="window.parent.postMessage({'type': 'internal', 'action': 'open', 'title': '{{ project.project_name }}', 'src': '{% url 'fr.projects.detail' project.id %}'}, '*')">
            <img src="{% static 'images/directory.png' %}" class="w-full">
            <div class="w-full text-center text-wrap wrap-anywhere" style="text-align: center;">
                {{ project.project_name }}
            </div>
        </div>
        {% endfor %}

    </div>
    </div>
    <div class="sticky status-field-border font-vintage">
        <div class="mx-1">
            {{ projects|length }} project{{ projects|length|pluralize }}
        </div>
    </div>
</div>

{% endblock body %}
