{% extends "client/osbase.html" %} {% load static time_filters %} {% block body %}

<script type="speculationrules">
{
  "prerender": [
    {
    "source": "list",
    "urls": ["{% url 'fr.projects.journals.new.hackatime' project.id %}", "{% url 'fr.projects.journals.new.untracked' project.id %}"],
    "eagerness": "eager"
}]
}
</script>


<div class="bg-surface flex flex-col w-full h-full font-vintage">
    {% if not success %}
    <div class="text-4xl">New journal for {{ project.project_name }}</div>
    <div>
        {% block links %}
        <a href="{% url 'fr.projects.journals.new.hackatime' project.id %}">
            <button>Hackatime</button>
        </a>
        {% if project.project_type == 'hardware' %}
        <a href="{% url 'fr.projects.journals.new.untracked' project.id %}">
            <button>untracked</button>
        </a>
        {% endif %} {% endblock links %}
    </div>
    {% if info %}
    <div class="bg-twisted-400 rounded-md p-1 my-1">{{ info|safe }}</div>
    {% endif %}
    <div>
        {% block journal_log_message %}
        This journal will log {{ log_minutes|minutes_to_hours_minutes }}.
        {% endblock journal_log_message %}
    </div>
    <form method="post" class="h-full flex flex-col">
        {% csrf_token %}
        {% block form %}
        {% block preform %}{% endblock preform %}
        <c-mdedit class="flex-1" />
        <div>
            <button class="mt-4">Log journal</button>
        </div>
        {% endblock form %}
    </form>
    {% else %}
    <div class="text-center">
        <h2>Your journal has been logged!</h2>
        <p>You can now close this page.</p>
        <button onclick="location.reload()">Log another journal!</button>
    </div>
    {% endif %}
</div>
{% endblock body %}
