POSTGRES_DB = django
POSTGRES_USER = django
POSTGRES_PASSWORD = django
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432

HCA_CLIENT_ID = 
HCA_CLIENT_SECRET = 
HCA_REDIRECT_URI = http://localhost:8000/oauth/callback

HACKATIME_CLIENT_ID = 
HACKATIME_CLIENT_SECRET = 
HACKATIME_REDIRECT_URI = https://localhost:8000/auth/hackatime_callback

SLACK_TOKEN = xoxb-***