{% load static tailwind_tags static %}
<html style="font-size: 12px; background: #1E072F;">
    <head>
        {% tailwind_css %}
        <link rel="stylesheet" href="https://unpkg.com/98.css" />
        <link rel="stylesheet" href="{% static 'css/dist/win98.css' %}" />
        <link rel="stylesheet" href="{% static 'css/98.override.css' %}" />
        {% block css %} {% endblock css %}
    </head>
    <body class="font-vintage">
        {% block body %} meow :3 {% endblock body %}
    </body>
</html>
