{% load static tailwind_tags static %}
<html style="font-size: 12px; background: #1E072F;">
    <head>
        {% tailwind_css %}
        <link rel="stylesheet" href="https://unpkg.com/98.css" />
        <link rel="stylesheet" href="{% static 'css/dist/win98.css' %}" />
        <link rel="stylesheet" href="{% static 'css/98.override.css' %}" />
        <link rel="icon" href="{% static 'favicon.png' %}" />
        <title>Twisted</title>
        {% block css %} {% endblock css %}
        {% block js %}{% endblock js %}

        <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
        <script src="
        https://cdn.jsdelivr.net/npm/dompurify@3.4.12/dist/purify.min.js
        "></script>

    </head>
    <body class="font-vintage">
        {% block body %} meow :3 {% endblock body %}
    </body>
    <script>
        // Timezone settings
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
        document.cookie = "django_timezone=" + timezone;
    </script>
</html>
