@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */

/**
* A catch-all path to Django template files, JavaScript, and Python files
* that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
*
* If your final CSS file is not being updated after code changes, you may want to broaden or narrow
* the scope of this path.
*/
@source "../../../**/*.{html,py,js}";

button {
    cursor: pointer;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/static/fonts/ms_sans_serif.woff") format("woff");
  src: url("/static/fonts/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/static/fonts/ms_sans_serif_bold.woff") format("woff");
  src: url("/static/fonts/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pirkalla';
  src: url('/static/fonts/pirkkala.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-vintage: "Pirkalla", monospace, sans-serif;

  --color-absolute-white: #FAFAFA;
  --color-fair-gray: #A1A1A1;
  --color-dark-black: #050505;

  --color-twisted-200: #CAB3E1;
  --color-twisted-400: #8364A2;
  --color-twisted-600: #5A4471;
  --color-twisted-800: #36214B;
  --color-twisted-999: #29153D;

  --color-surface: #1E072F;
  --color-dark: #261F2D;
}

@keyframes flag-wave {
  0%, 100% { transform: rotate(-2deg); }
  50% { transform: rotate(2deg); }
}

@utility no-spinner {
  -moz-appearance: textfield;
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@utility image-render-pixelated {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.flag-wave {
  transform-origin: top center;
  animation: flag-wave 4s ease-in-out infinite;
}

.scrollbar-win9x::-webkit-scrollbar {
  width: 16px;
}

.scrollbar-win9x::-webkit-scrollbar-track {
  background-color: #c0c0c0;
  border-left: 2px solid #dfdfdf;
}

.scrollbar-win9x::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #0a0a0a;
  border-bottom: 2px solid #0a0a0a;
}

.scrollbar-win9x::-webkit-scrollbar-thumb:focus {
  background-color: #FFFFFF;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #0a0a0a;
  border-bottom: 2px solid #0a0a0a;
}
