@import "../node_modules/98.css/style.css";




/**
* A catch-all path to Django template files, JavaScript, and Python files
* that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
*
* If your final CSS file is not being updated after code changes, you may want to broaden or narrow
* the scope of this path.
*/
@source "../../../**/*.{html,py,js}";

:root {
    --surface: #1E072F;
}

button,
label,
input,
legend,
textarea,
select,
option,
table,
ul.tree-view,
.window,
.title-bar,
li[role="tab"] {
    font-family: "Pirkalla", Arial;
    -webkit-font-smoothing: none;
    font-size: 11px;
}

:root {
    --dialog-blue: #261f2d;
    --dialog-blue-light: var(--dialog-blue);

    --button-highlight: #36214B;

    --surface: #1E072F;
    --text-color: #ffffff;
}

.sunken-panel {
    background-color: #261f2d;
}

select:focus {
  color: var(--text-color);
  background-color: #29153D;
}

select:focus option {
  color: var(--text-color);
  background-color: var(--surface);
}